//主题颜色
@snColor: #ffaa00;
//适配方案：当前基准值 = 当前设备的尺寸 / 设计稿的尺寸 * 预设的基准值
@deviceWidth:320px,360px,375px,384px,411px,414px,420px,480px,540px,600px,640px,750px;
@psdWidth:750px;
@baseSize:100px;
@len:length(@deviceWidth);